
.modal_container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    width: 500px;
    max-width: 100%;
    padding: 40px 20px;
    text-align: center;
}